.container{
    width: 100%;
}

.list{
    margin-top: 100px;
}

.row{
    text-align:center;
}

.msg{
    padding-top: 23px;
    font-size: 18px;
}

.icon span{
    font-size: 40px;
}


.icon_small{
    font-size: 28px;
    position: relative;
    top: 3px;
}

.icon_small span{
    padding:0 5px;
}

