.shortcutsModal input{
    text-align: center;

}

.sectionHeader{
    font-size: 16px;
    color: #4d4d4d;
    text-align: left !important;
    margin-left: 18px;
    border-bottom: 1px solid #b3b3b3;
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 19px;
}

.labelCol{
    color: #737373;
    padding-right: 0;
    padding-top: 8px;
}

.prefixCol{
    padding-top: 8px;
    margin-left: -18px;
}

.prefixCol{
    margin-left:0px;
    text-align: right;
    padding-right: 0px;
    font-style: italic;
    color: #595959;
}

.suffixCol{
    padding-top: 8px;
    margin-left: -18px;
    color: #595959;
}